ChessEngineInCSharp/.vs/
ChessEngineInCSharp/ChessEngineInCSharp/obj/
ChessEngineInCSharp/ChessEngineInCSharp/bin/
ChessEngineInCSharp/ChessEngine.Tests/bin/

ChessEngineInCSharp/ChessEngine.Tests/obj/
ChessEngineInCSharp/ChessEngine/bin/
ChessEngineInCSharp/ChessEngine/obj/
